<% provide(:title, " | 新規登録") %>
<main class="text-center" >
	<% if @user.errors.any? %>
		<div class="pt-5"></div>
		<% @user.errors.full_messages.each do |error| %>
			<div class="h5 text-danger pb-1"><%= error %></div>
		<% end %>
	<% end %>
	<%= form_for(@user, url: { controller: "users", action: "add" }, html: { class: "form-signin container" }) do |f| %>
		<%= image_tag("/images/common/logo_black.png", size: "402x102", class: "img-fluid mb-4") %>
		<h1 class="h4 mb-4 font-weight-normal text-muted">登録して写真を投稿しよう</h1>
		<%= f.label :name, "アイコン", { class: "sr-only" } %>
		<%= f.text_field :name, { class: "form-control", placeholder: "名前" } %>
		<%= f.label :email, "メールアドレス", { class: "sr-only" } %>
		<%= f.email_field :email, { class: "form-control", placeholder: "メールアドレス" } %>
		<%= f.label :password, "パスワード", { class: "sr-only" } %>
		<%= f.password_field :password, { class: "form-control", placeholder: "パスワード" } %>
		<%= f.label :password_confirmation, "パスワード（確認用）", { class: "sr-only" } %>
		<%= f.password_field :password_confirmation, { class: "form-control mb-4", placeholder: "パスワード（確認用）" } %>
		<%= f.submit "新規登録", { class: "btn btn-lg btn-primary btn-block" } %>
	<% end %>
	<p class="mb-5">
		アカウントをお持ちですか？ <a href="/login">ログインする</a>
	</p>
</main>
