<% provide(:title, " | プロフィールを編集") %>
<main class="text-center" >
	<h1 class="h2 font-weight-normal text-muted mt-5">プロフィールを編集</h1>

	<% if @user.errors.any? %>
		<div class="mt-5"></div>
		<% @user.errors.full_messages.each do |error| %>
			<div class="h5 text-danger pb-1"><%= error %></div>
		<% end %>
	<% end %>

	<%= form_for(@user, url: { controller: "users", action: "update" }, html: { class: "form-signin container pt-4" }) do |f| %>
		<ul class="list-unstyled text-left">
			<li class="pt-3">
				<%= f.label :name, '名前 (12文字以内)<span class="text-danger">&nbsp;*</span>'.html_safe %>
				<%= f.text_field :name, { class: "form-control", placeholder: "名前" } %>
			</li>
			<li class="pt-3">
				<%= f.label :username, 'ユーザーネーム (半角英数字12文字以内)<span class="text-danger">&nbsp;*</span>'.html_safe %>
				<%= f.text_field :username, { class: "form-control", placeholder: "ユーザーネーム" } %>
			</li>
			<li class="pt-3">
				<%= f.label :birthday, "生年月日" %><br>
				<%= f.date_select :birthday, { prompt: "--", start_year: 1950, end_year: Time.now.year, class: "form-control" } %>
			</li>
			<li class="pt-3">
				<%= f.label :icon, "アイコン" %>
				<div class="form-control">
					<%= f.file_field :icon, { class: "form-control", accept: "image/*" } %>
					<div class="text-center mt-3">
						<%= image_tag @user.icon.to_s, size: "180x180", class: "rounded-circle border", id: "preview" %>
					</div>
				</div>
			</li>
			<li class="pt-3">
				<%= f.label :introduction, "自己紹介 (150文字以内)" %>
				<%= f.text_area :introduction, { rows: 7, class: "form-control", placeholder: "自己紹介" } %>
			</li>
		</ul>
	  <%= f.submit "保存", { class: "btn btn-lg btn-primary btn-block mt-5" } %>
	<% end %>
</main>
