<% provide(:title, " | ログイン") %>
<main class="text-center" >
	<% if flash[:regist] %>
		<p class="bg-info text-white h5 pt-2 pb-2">
			<%= flash[:regist] %>
		</p>
	<% end %>
	<% if @error %>
		<div class="h5 text-danger pt-5"><%= @error %></div>
	<% end %>
	<%= form_tag("/login", method: :post, class: "form-signin container") do %>
	  <img class="mb-4" src="/assets/photoshare_logo.gif" alt="" width="292" height="72">
		<label for="InputEmail" class="sr-only">メールアドレス</label>
		<%= email_field_tag("email", "#{@user.email}", { id: "InputEmail", class: "form-control", placeholder: "メールアドレス" }) %>
		<label for="InputPassword" class="sr-only">パスワード</label>
		<%= password_field_tag("password", "", { id: "InputPassword", class: "form-control mb-4", placeholder: "パスワード" }) %>
		<%= submit_tag("ログイン", { class: "btn btn-lg btn-primary btn-block" }) %>
	<% end %>
	<p class="mb-5">
		アカウントをお持ちではないですか？ <a href="/signup">登録する</a>
	</p>
</main>
