<% provide(:title, " | ログイン") %>

<% if flash[:regist] %>
	<div class="alert alert-primary alert-dismissible position-fixed text-center w-100 px-5" role="alert" id="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<div class="h5 m-0 p-0">
			<%= flash[:regist] %>
		</div>
	</div>
<% end  %>
	
<main class="text-center" >	
	<% if @error %>
		<div class="h5 text-danger pt-5"><%= @error %></div>
	<% end %>
	<%= form_tag("/login", method: :post, class: "form-signin container") do %>
		<%= image_tag("/images/common/logo_black.png", size: "402x102", class: "img-fluid mb-4 pb-2") %>
		<%= label_tag :email, "メールアドレス", { class: "sr-only" } %>
		<%= email_field_tag("email", "#{@user.email}", { class: "form-control", placeholder: "メールアドレス" }) %>
		<%= label_tag :password, "パスワード", { class: "sr-only" } %>
		<%= password_field_tag("password", "", { class: "form-control mb-4", placeholder: "パスワード" }) %>
		<%= submit_tag("ログイン", { class: "btn btn-lg btn-primary btn-block" }) %>
	<% end %>
	<p class="mb-5">
		アカウントをお持ちではないですか？ <a href="/signup">登録する</a>
	</p>
</main>
