<div class="container">
	<table class="table mt-5">
		<tr>
			<th>ID</th>
			<th>名前</th>
			<th>ユーザーネーム</th>
			<th>email</th>
			<th>生年月日</th>
			<th>アイコン</th>
			<th>パスワード</th>
		</tr>
		<tr>
			<td><%= @user.id %></td>
			<td><%= @user.name %></td>
			<td><%= @user.username %></td>
			<td><%= @user.email %></td>
			<td><%= @user.birthday %></td>
			<td><%= @user.icon %></td>
			<td><%= @user.password %></td>
		</tr>
	</table>
</div>
