<div class="container">
	<% if flash[:login] %>
		<p class="bg-info text-white h5 pt-2 pb-2">
			<%= flash[:login] %>
		</p>
	<% end %>
	<table class="table mt-5">
		<tr>
			<th>ID</th>
			<th>名前</th>
			<th>ユーザーネーム</th>
			<th>email</th>
			<th>生年月日</th>
			<th>アイコン</th>
			<th>パスワード</th>
		</tr>
		<tr>
			<td><%= @user.id %></td>
			<td><%= @user.name %></td>
			<td><%= @user.username %></td>
			<td><%= @user.email %></td>
			<td><%= @user.birthday %></td>
			<td><%= image_tag("/images/common/#{@user.icon}", size: "70x70") %></td>
			<td><%= @user.password %></td>
		</tr>
	</table>
</div>
