<% provide(:title, " | ユーザー設定") %>

<main class="text-center">

	<h1 class="h2 font-weight-normal text-muted mt-5">ユーザー設定</h1>

  <%= render partial: "common/error_message", locals: { instance: @user } %>
  
  <div class="form-signin container">
    <%= link_to("メールアドレスを変更", "", { class: "btn btn-lg btn-outline-primary btn-block", data: { toggle: "modal", target: "#modal_setting_email_#{@user.id}" } }) %>
    <%= link_to("パスワードを変更", "", { class: "btn btn-lg btn-outline-primary btn-block mt-5", data: { toggle: "modal", target: "#modal_setting_password_#{@user.id}" } }) %>
    <%= link_to("アカウントを削除", "", { class: "btn btn-lg btn-danger btn-block mt-5", data: { toggle: "modal", target: "#modal_delete_account_#{@user.id}" } }) %>
  </div>
  
  <%= render partial: "common/modal", locals: { instance: @user, type: "setting_email" } %>
  
  <%= render partial: "common/modal", locals: { instance: @user, type: "setting_password" } %>

  <%= render partial: "common/modal", locals: { instance: @user, type: "delete_account" } %>

</main>
