<% provide(:title, " | #{@user.name}さん (@#{@user.username})") %>

<% if flash[:login] || flash[:profile_edit] || flash[:post_complete] || flash[:post_delete] || flash[:comment_delete] || flash[:email_edit] || flash[:password_edit] %>
	<div class="alert alert-primary alert-dismissible position-fixed text-center w-100 px-5" role="alert" id="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<div class="h5 m-0">
			<%= flash[:login] %>
			<%= flash[:profile_edit] %>
			<%= flash[:post_complete] %>
			<%= flash[:post_delete] %>
			<%= flash[:comment_delete] %>
			<%= flash[:email_edit] %>
			<%= flash[:password_edit] %>
		</div>
	</div>
<% end %>

<main class="text-center" >

	<div class="container mt-5">

		<div class="row border border-bottom-0">
			<div class="col-12 col-sm-4 pt-3">
				<%= image_tag(@user.icon.to_s, size: "200x200", class: "rounded-circle border") %>
			</div>
			<div class="col-12 col-sm-4">
				<ul class="list-unstyled">
					<li class="h1 pt-5 pb-1"><%= @user.name %></li>
					<li class="h5 text-muted"><%= "@" + @user.username %></li>
					<% if @user.birthday %>
						<li><i class="fas fa-birthday-cake pr-2"></i><%= @user.birthday.to_s(:birthday) %></li>
					<% else %>
						<li><i class="fas fa-birthday-cake pr-2"></i>未設定</li>
					<% end %>
				</ul>
				<div class="row">
					<div class="col-12 col-sm-12">
						<div id="follow_<%= @user.id %>_count">
							<%= render partial: "relationships/count", locals: { user: @user } %>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-4 py-4">
				<% if session_user?(@user) %>
					<%= link_to("プロフィールを編集", "/#{@user.username}/edit", { class: "btn btn-lg btn-outline-primary rounded-pill"}) %><br>
					<%= link_to("設定", "/users/#{@user.username}/setting", { class: "btn btn-lg btn-outline-primary rounded-pill mt-3 px-5" }) %>
				<% else %>
					<div id="follow_<%= @user.id %>">
						<%= render partial: "relationships/relationship", locals: { user: @user }  %>
					</div>
				<% end %>
			</div>
		</div>

		<div class="row border border-top-0">
			<div class="col-12 col-sm-12">
				<div class="text-left pt-4 px-5 pb-5">
					<%= @user.introduction %>
				</div>
			</div>
		</div>

		<div class="row mb-4">
			<div class="col-12 col-sm-12 btn-group btn-group-toggle p-0" data-toggle="buttons">
			  <label class="btn btn-outline-primary py-2 active">
			    <input type="radio" name="options" checked>投稿
			  </label>
			  <label class="btn btn-outline-primary py-2">
			    <input type="radio" name="options">コメント
			  </label>
				<label class="btn btn-outline-primary py-2">
			    <input type="radio" name="options">いいね
			  </label>
			</div>
		</div>

		<div id="area_0">
			<%= render partial: "users/show_post" %>
		</div>

		<div class="d-none" id="area_1">
			<%= render partial: "users/show_comment" %>
		</div>

		<div class="d-none" id="area_2">
			<%= render partial: "users/show_like" %>
		</div>

	</div>

</main>
