<main>

	<section class="jumbotron text-center mt-4">
	
		<% if @invalid_message %>
			<p class="text-center text-danger h4 pb-5">
				<%= @invalid_message %>
			</p>
		<% end %>

		<%= image_tag("/images/common/logo_black.png", size: "402x102", class: "img-fluid mb-4") %>
		<p class="lead text-gray">あなたの好きな写真をシェアしましょう</p>
		<p>
			<% if session_now? %>
				<a href="/posts" class="btn btn-lg btn-primary my-2">写真を投稿する</a>
			<% else %>
				<a href="/login" class="btn btn-lg btn-primary my-2">写真を投稿する</a>
			<% end %>
		</p>
	</section>

	<div class="album py-5 bg-light">
		<div class="container">
		
			<div class="h3 my-4 border-bottom border-secondary">
				<span class="ml-3">最新の投稿</span>
				<span class="badge badge-info mb-2 ml-2">New</span>
			</div>

			<div class="row" id="home-carousel">
				<div id="carouselPlus" class="carousel slide multi-carousel" data-ride="carousel" data-interval=8000 data-pause="false">
					<div class="carousel-inner">
						<% @posts.each do |post| %>
							<div class="carousel-grid col-12 col-md-4 px-2">
								<div class="card">
									<% if session_now? %>
										<%= link_to("/posts/#{post.id}") do %>
											<%= image_tag(post.image.to_s, class: "d-block border w-100") %>
										<% end %>
									<% else %>
										<%= image_tag(post.image.to_s, class: "d-block border w-100") %>
									<% end %>
									<div class="card-body">
										<p class="card-text font-weight-bold">
											<%= post.title.truncate(20) %>
										</p>
										<div class="d-flex justify-content-between align-items-center">
											<div class="btn-group">
												<% if session_now? %>
													<div id="like_<%= post.id %>" class="h4 m-0">
														<%= render partial: 'likes/like', locals: { post: post } %>
													</div>
												<% else %>
													<div class="h4 m-0">
														<i class="fas fa-heart like-btn text-danger"></i>
														<span class="pl-1"><%= post.likes.count %></span>
													</div>
												<% end %>
											</div>
											<small class="text-muted h6 m-0"><%= time_ago_in_words(post.created_at) %>前</small>
										</div>
									</div>
								</div>
							</div>
						<% end %>
					</div>
					<a class="carousel-control-prev" href="#carouselPlus" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselPlus" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>      
				</div>
			</div>

			<div id="md" class="d-none d-sm-block"></div>
			<div id="sm" class="d-none d-block d-sm-none"></div>

		</div>
	</div>

</main>