<% provide(:title, " | 投稿検索") %>
<main class="text-center" >

	<div class="container mt-5">

		<h1 class="h3 font-weight-normal text-muted mb-4">キーワードで<br class="d-sm-none">投稿を検索</h1>

		<div class="row mx-3 mb-5">
			<div class="col-12 col-sm-12">
				<%= form_tag(controller: "posts", action: "search") do %>
					<div class="input-group">
						<%= label_tag :keywords, "キーワード検索", { class: "sr-only" } %>
						<%= text_field_tag("keywords", "", { class: "form-control", placeholder: "キーワード検索" }) %>
						<span class="input-group-btn">
							<%= button_tag('<i class="fas fa-search"></i>'.html_safe, { class: "btn btn-primary btn-block ml-2 px-3" }) %>
						</span>
					</div>
				<% end %>
			</div>
		</div>

		<% unless @posts.empty? %>
			<% @posts.each do |post| %>
				<div class="row border p-3 pb-4">
					<div class="col-12 col-sm-2">
						<div class="row mb-4">
							<div class="col-8 col-sm-12">
								<div class="mx-auto mt-4">
									<%= post.created_at.to_s(:create_date) %><br>
									<%= post.created_at.to_s(:create_time) %>
								</div>
							</div>
							<div class="col-4 col-sm-12">
								<div class="mx-auto mt-4">
									<div id="like_<%= post.id %>" class="h4">
										<%= render partial: 'likes/like', locals: { post: post } %>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-3">
						<%= link_to(image_tag(post.image.to_s, class: "img-fluid img-thumbnail"), "/posts/show/#{post.id}") %>
					</div>
					<div class="col-12 col-sm-7">
						<div class="text-left border mt-1 h-100">
							<div class="border-bottom border-dark p-3">
								タイトル&nbsp;：&nbsp;<%= post.title %>
							</div>
							<div class="p-4">
								<%= post.message %>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		<% else %>
			<div class="row border mx-2">
				<div class="col-12 col-sm-12">
					<div class="h6 my-5">
						該当の投稿がありません
					</div>
				</div>
			</div>
		<% end %>

	</div>

</main>
