<!DOCTYPE html>
<html>
  <head>
    <title>PhotoShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<header>
			<nav class="navbar navbar-expand-xl sticky-top navbar-dark bg-dark mt-3 mb-3">
        <a class="navbar-brand" href="#">PhotoShare</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav3" aria-controls="navbarNav3" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav3">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">投稿一覧</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ユーザー一覧</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ログイン</a>
                </li>
								<li class="nav-item">
                    <a class="nav-link" href="#">新規登録</a>
                </li>
            </ul>
        </div>
    	</nav>
		</header>

    <%= yield %>

		<footer class="text-muted">
		  <div class="container">
		    <p class="float-right">
		      <a href="#">Back to top</a>
		    </p>
		    <p>
					New to Bootstrap <a href="https://getbootstrap.com/">Visit the homepage</a> or read our <a href="/docs/4.4/getting-started/introduction/">getting started guide</a>.
				</p>
		  </div>
		</footer>

		</script>
  </body>
</html>
