<header class="sticky-top">

	<nav class="navbar navbar-expand-md navbar-dark bg-dark py-3">

		<%= link_to(image_tag("/images/common/logo_gray.png", size: "148x37", class: "img-fluid pb-2 pr-2"), "/") %>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navmenu" aria-controls="navmenu" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navmenu">
				<div class="navbar-nav ml-auto">
					<div class="b-sm-none mt-2"></div>
					<%= link_to("/ranking", { class: "nav-item nav-link pr-3" }) do %>
						<i class="fas fa-crown pr-2"></i>ランキング
					<% end %>
					<% if session_now? %>
						<%= link_to("/posts/search", { class: "nav-item nav-link pr-3" }) do %>
							<i class="fas fa-search"></i><i class="far fa-paper-plane pr-2"></i>投稿検索
						<% end %>
						<%= link_to("/users/search", { class: "nav-item nav-link pr-3" }) do %>
							<i class="fas fa-search"></i><i class="far fa-user pr-2"></i></i>ユーザー検索
						<% end %>
						<%= link_to("/logout", { class: "nav-item nav-link pr-3", method: :delete }) do %>
							<i class="fas fa-sign-out-alt pr-2"></i>ログアウト
						<% end %>
						<%= link_to("/posts", { class: "nav-item nav-link pr-3" }) do %>
							<i class="far fa-edit pr-2"></i>新規投稿
						<% end %>
						<%= link_to("/#{session_user.username}", { class: "nav-item nav-link"}) do %>
							<img src="<%= session_user.icon %>" width="30" height="30" class="rounded-circle">
							<span class="d-md-none text-white-50 pl-1"><%= session_user.name %></span>
						<% end %>
					<% else %>
						<%= link_to("/login", { class: "nav-item nav-link pr-3" }) do %>
							<i class="fas fa-sign-in-alt pr-2"></i>ログイン
						<% end %>
						<%= link_to("/signup", { class: "nav-item nav-link pr-3" }) do %>
							<i class="fas fa-user-plus pr-2"></i>新規登録
						<% end %>
					<% end %>
				</div>
		</div>

	</nav>

</header>
