<header>

	<nav class="navbar navbar-expand-xl sticky-top navbar-dark bg-dark pt-3 pb-3">

		<%= link_to(image_tag("/images/common/logo_gray.png", size: "148x37", class: "img-fluid"), "/") %>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav3" aria-controls="navbarNav3" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNav3">
				<ul class="navbar-nav ml-auto">
						<li class="nav-item">
								<%= link_to("ランキング", "/ranking", { class: "nav-link"}) %>
						</li>
						<% if session_now? %>
							<li class="nav-item">
								<%= link_to("投稿検索", "/posts/search", { class: "nav-link"}) %>
							</li>
							<li class="nav-item">
								<%= link_to("ユーザー検索", "/users/search", { class: "nav-link"}) %>
							</li>
							<li class="nav-item">
								<%= link_to("ログアウト", "/logout", { class: "nav-link", method: :delete }) %>
							</li>
							<li class="nav-item">
								<%= link_to("新規投稿", "/posts/add", { class: "nav-link"}) %>
							</li>
							<li class="nav-item">
								<a href="/<%= session_user.username %>" class="nav-link">
									<img src="<%= session_user.icon %>" width="30" height="30" class="rounded-circle">
									<span class="d-xl-none text-white-50 pl-1"><%= session_user.name %></span>
								</a>
							</li>
						<% end %>
						<% if !session_now? %>
							<li class="nav-item">
								<%= link_to("ログイン", "/login", { class: "nav-link"}) %>
							</li>
							<li class="nav-item">
								<%= link_to("新規登録", "/signup", { class: "nav-link"}) %>
							</li>
						<% end %>
				</ul>
		</div>

	</nav>

</header>
